<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="authService.isLoggedIn()">
  <a class="navbar-brand" routerLink="/dashboard">Contable</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/contribuyente_component">Contribuyentes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cliente_component">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/proveedor_component">Proveedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" (click)="logout()">Salir</a>
      </li>
    </ul>
  </div>
</nav>
<div class="content fixed-bottom">
  <span>{{title}}</span>
</div>

<router-outlet></router-outlet>